<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hr.fer.ppj.projekt.hzj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-configuration android:reqTouchScreen="finger" />
    <uses-configuration android:reqKeyboardType="qwerty" />
    <uses-configuration android:reqNavigation="nonav" />

    <application
        android:name=".core.models.app.HZJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".core.ui.activities.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".core.ui.activities.SettingsActivity"
            android:parentActivityName=".core.ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.ui.CameraActivity"
            android:parentActivityName=".core.ui.activities.MainActivity" />
        <activity
            android:name=".core.ui.activities.VideosActivity"
            android:parentActivityName=".core.ui.activities.MainActivity" />
        <activity
            android:name=".core.ui.activities.PlayVideoActivity"
            android:parentActivityName=".core.ui.activities.VideosActivity" />
        <activity android:name=".core.ui.activities.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>